<div class="grid-container">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Back button" [routerLink]="['/posts']">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <span>Search</span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar>
  <br>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput type="text" placeholder="Type here..." formControlName="search">
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint>Find names, emails, body...</mat-hint>
      <mat-error *ngIf="isControlHasError('search','required')">
        <strong>Search Text cannot be empty.</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <h1>Post Result</h1>
  <br>
  <mat-card *ngFor="let post of resultPosts">
    <mat-card-header>{{post.title}}</mat-card-header>
    <mat-card-content>{{post.body}}</mat-card-content>
  </mat-card>
  <br>
  <h1>Comment Result</h1>
  <br>
  <mat-card *ngFor="let comment of resultComments">
    <mat-card-header>{{comment.name}} <small>{{comment.email}}</small> wrote:</mat-card-header>
    <mat-card-content>
      {{comment.body}}
    </mat-card-content>
  </mat-card>

  <!--  <mat- -->
</div>
